body {
    background-image: url(bg_image2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#bye {
    width: 30%;
    height: 300%;
}

.maincolor {
    background-color: #77b587;
}

a {
    text-decoration-line: none;
}