<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico"/>
    <title>TC Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="admin.css"/>
</head>
<body>
<h1>Admin page </h1>
<hr/>

<a href="/" class="btn btn-primary m-2">Back</a>
<a href="/logout" class="btn btn-warning m-2">Logout</a>
<hr/>

<!-- Block where we can view current news, delete them and add new news. -->
<h2>News section</h2>
<hr/>
<button class="btn btn-danger m-2" id="delete_news">Delete news</button>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">Select</th>
        <th scope="col">Date</th>
        <th scope="col">Header</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nws: ${news}">
        <td class="col-1"><input type="checkbox" name="newsToDelete" th:value="${nws.id}" th:id="|check_${nws.id}|"/>
        </td>
        <td th:text="${nws.date}" class="col-2"></td>
        <td th:text="${nws.header}"></td>
    </tr>
    </tbody>
</table>
<hr/>
<h3>Adding news</h3>
<hr/>
<form action="/addnews" method="POST">
    <div class="mb-3 col-6">
        <label class="form-label" for="header">Header:</label>
        <input type="text" class="form-control" name="header" id="header" placeholder="Type news header">
    </div>
    <div class="mb-3 col-6">
        <label class="form-label" for="body">Body:</label>
        <textarea class="form-control" name="body" rows="5" id="body" placeholder="Type news body here"></textarea>
    </div>
    <input type="submit" class="btn btn-primary m-2" value="Publish">

</form>

<script>
    $('#delete_news').click(function () {
        var data = {'newsToDelete': []};
        $(":checked").each(function () {
            data['newsToDelete'].push($(this).val());
        });
        $.post("/deletenews", data, function (data, status) {
            window.location.reload();
        })
    })
</script>

<!-- Block where we can view current users, and delete them. -->
<hr/>
<h2>Users section</h2>
<hr/>
<button class="btn btn-danger m-2" id="delete_users">Delete users</button>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">Select</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Bio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usr: ${users}">
        <td class="col-1"><input type="checkbox" name="usersToDelete" th:value="${usr.id}" th:id="|check_${usr.id}|"/>
        </td>
        <td th:text="${usr.login}" class="col-2"></td>
        <td th:text="${usr.email}"></td>
        <td th:text="${usr.bio}"></td>
    </tr>
    </tbody>
</table>

<script>
    $('#delete_users').click(function () {
        var data = {'usersToDelete': []};
        $(":checked").each(function () {
            data['usersToDelete'].push($(this).val());
        });
        $.post("/deleteusers", data, function (data, status) {
            window.location.reload();
        })
    })
</script>

<!-- Block where logged incoming ip`s -->
<hr/>
<h2>Location logger</h2>
<hr/>
<table id="geodata" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">IP</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">Country</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul id="pages" class="pagination"></ul>
</nav>

<script src="geo.js"></script>
</body>
</html>