<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico"/>
    <title>Traveler`s Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="login.css">
</head>
<body>

<div>

    <div class="container">
        <img src="/logo_title.png" class="img-fluid mx-auto mt-2 d-block" alt="title">
        <div class="row">
            <div class="card col-md-8 offset-md-2 offset-md-2 mt-3  maincolor">
                <div class="card-body rounded-3">
                    <p class="">Welcome to the Travel Club! Here you can find out the latest news from the tourism industry, view information about the countries you plan to visit and ask for advice from members of our club who have already visited these countries.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-6 offset-md-3 offset-md-3 mt-5 rounded-3 maincolor">
                <div class="card-body">
                    <form action="/j_security_check" method="POST">
                        <div class="form-group mb-2">
                            <label class="form-label">Login:</label>
                            <input type="text" name="j_login" class="form-control" placeholder="Enter login">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">Password:</label>
                            <input type="password" name="j_password" class="form-control" placeholder="Enter password">
                        </div>
                        <div class="row text-center">
                            <input type="submit" class="btn btn-success mx-auto col-2" value="Sign In">
                        </div>
                    </form>

                    <p class="text-center text-warning bg-dark mt-1" th:text="${msg}"/>
                    <p class="text-center text-light bg-success mt-1" th:text="${result}"/>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col-md-6 offset-md-3 offset-md-3 mt-5 maincolor">
                <div class="card-body rounded-3">
                    <p class="">If you are visiting our site for the first time, go through a simple registration and get all the benefits of membership in the Club.
                        We are always glad to new friends!</p>
                    <a href="/register">
                        <button class="btn btn-primary">Register</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
