<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico"/>
    <title>Traveler`s Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">

</head>
<body>
<br/>
<div>
    <div class="container">
        <img src="/logo_title.png" class="img-fluid rounded mx-auto d-block" alt="title">
        <br/>
        <div class="row">
            <div class="card col-md-6 offset-md-3 offset-md-3 mt-3 rounded-3 maincolor">
                <h2 class="text-center mb-4 mt-2">Register new member:</h2>
                <div class="card-body">
                    <form action="/newmember" method="POST">
                        <div class="form-group mb-2">
                            <label class="form-label">Login:</label>
                            <input type="text" name="n_login" class="form-control" placeholder="Create your login">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">Password:</label>
                            <input type="password" name="n_password" class="form-control"
                                   placeholder="Enter new password">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">Password:</label>
                            <input type="password" name="n_confirm" class="form-control"
                                   placeholder="Confirm your password">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">E-mail:</label>
                            <input type="text" name="n_email" class="form-control" placeholder="Enter your e-mail">
                        </div>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                    <a href="/">
                        <button class="btn btn-primary mt-2">Cancel</button>
                    </a>
                    <p class="text-center text-warning bg-dark mt-1" th:text="${msg}"/>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>